 
 
 .span-manager-details{
    font-size: 65px;
}
/* .button-manager-details{
    background-color: #FF5555;
    
}

.button-manager-details:hover{
    background-color: #e12a2a;
}  */

 .card-manager-details{
    background-color: #1D4ED8;

} 

